<ion-header>
  <ion-toolbar>
    <ion-title>
     Vos Plats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink ="/tabs/plat/ajouter">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let plat of plats" (click)="ModifierPlat(plat.id)">
    <ion-label>{{plat.nom}}</ion-label>
    <ion-label>{{plat.prix}}</ion-label>          
    </ion-item>
  </ion-list>
</ion-content>
